@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* paleta de cores */
:root{
  --fundo:#e5e5e5;
  --azulClaro:#D8DFE8;
  --azulEscuro:#0A3871;
  --cinzaClaro:#989EA4;
  --cinzaMedio:#6B7279;
  --branco:#ffffff;
  --degrade1: linear-gradient(0deg, #d8dfe8, #e5e5e5);
  --degrade2: linear-gradient(0deg, #e5e5e5, #d8dfe8);
}

/* Reconfigurar navegador */
* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  max-width: 100%;
  background-color: transparent;
  font-family: 'inter', sans-serif;
  font-size: 1em;
  line-height: 45px;
  color: var(--azulEscuro);
}

/* Configurar cada elemento HTML */

body {
  background: var(--fundo);
}

header {
  display: flex;
  justify-content: center;
  padding: 2%;
  background: var(--degrade1);
}

h1 {
  color: var(--cinzaClaro);
  font-size: 3.5rem;
  font-weight: bold;
}

main{
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  padding: 2%;
}

p{
  font-size: 0.8em;
  text-align: center;
  line-height: 2;
  color: var(--cinzaMedio);
}

a {
  text-decoration: none;
  font-size:0.8em;
  color:inherit;
  line-height: 2;
  font-weight: bold;
}

#esquerda{
  padding-right: 2em;
}

textarea{
  border: none;
  color: var(--azulEscuro);
  margin-top: 1%;
  margin-left: 1%;
  padding: 3%;
  text-transform: lowercase;
  overflow: auto;
  width:90%;
}

::placeholder {
  color: var(--cinzaClaro);
  font-size: 1.3rem;
}

textarea:focus {
  outline: none;
}

#aviso1{
  display: flex;
  align-items: center;
  margin-left: 2%;
  margin-top: 5.2%;
}

#aviso, span{
  color: var(--cinzaMedio);
  text-align: right;
}

button{
  border: 0.1em solid var(--cinzaClaro);
  background: var(--azulClaro);
  border-radius: 0.8em;
  text-decoration: none;
  color: var(--azulEscuro);
  width: 45%;
  margin: 2%;
  margin-left:2%;
  cursor: pointer;
}

button:hover{
  color: var(--branco);
  background: var(--cinzaClaro);
  transition: 0.5s all;
  }

#direita{
  align-items: center;
  text-align: center;
}

#tela1{
  margin-top:5%;
}

#tela1 p{
  font-size: 0.8em;
  text-align: center;
  line-height: 1.4;
  color: var(--cinzaMedio);
}

#tela2{
  display:none;
}

#saida{
  color: #0A3871;
  text-align: left;
  max-width:100%;
  max-height:85%;
  width: 20em;
  height:13.4em;
}

#botoneira-saida{
  max-width:100%;
  align-items: center;
  font-size:0.9em;
}

#botoneira-saida button {
  width:28%;
}

#rodape{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  justify-content: space-around;
  background: var(--degrade2);
}

.icon{
  padding: 0 0.8em;
  text-decoration: none;
}


/*	--- .fim ;)  */